#main{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* font-size: medium;
    font-style: italic; */
}

/* #image1{
    background-image: url("images/Best-Estates-To-Live-In-Nakuru.jpg");
}

#image2{
    background-image: url("images/bibhash-knapsnack-life-banerjee-3QPNiZ_Nqjs-unsplash.jpg");
    }

#image3{
    background-image: url("images/nad-hemnani-Du9jqjmSP7Q-unsplash.jpg");
} */

#main > .slideshow{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

#main > .slideshow:hover{
    flex: 5;
} 